# Tratando dados

In [178]:
google = pd.read_csv('../archives/googleplaystore.csv')

In [156]:
google.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [157]:
google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [180]:
google.iloc[[3750]]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
3750,РИА Новости,NEWS_AND_MAGAZINES,4.5,44274,8.0M,"1,000,000+",Free,0,Everyone,News & Magazines,"August 6, 2018",4.0.6,4.4 and up

In [175]:
google.drop(index = 10472, inplace =  True)

In [160]:
google.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [161]:
google.drop_duplicates(subset = ['App'], inplace = True)

In [162]:
google.shape

(9659, 13)

In [164]:
google.sort_values(by=['App'], inplace=True)

In [173]:
google.sort_values(by=['App'])

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
3750,,NEWS_AND_MAGAZINES,4.5,44274,8.0M,"1,000,000+",Free,0,Everyone,News & Magazines,"August 6, 2018",4.0.6,4.4 and up
6006,BD Bangla TV,FAMILY,4.3,193,14M,"10,000+",Free,0,Everyone,Entertainment,"April 29, 2017",1.3,4.0 and up
9117,DZ,FAMILY,4.2,238,6.8M,"10,000+",Free,0,Everyone,Education,"November 18, 2016",6.0.0.0,4.1 and up
7183,CD 2019 PRO,AUTO_AND_VEHICLES,NaN,21,16M,100+,Paid,$1.49,Everyone,Auto & Vehicles,"July 27, 2018",1.49,4.0 and up
4193,H,ART_AND_DESIGN,4.4,13,4.5M,"1,000+",Free,0,Everyone,Art & Design,"March 27, 2018",2.0,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312,weight conversion calculator,TOOLS,4.0,807,1.8M,"100,000+",Free,0,Everyone,Tools,"May 18, 2018",20180517,2.3 and up
3652,wetter.com - Weather and Radar,WEATHER,4.2,189313,38M,"10,000,000+",Free,0,Everyone,Weather,"August 6, 2018",Varies with device,Varies with device
8644,wikiHow: how to do anything,BOOKS_AND_REFERENCE,4.4,43088,3.0M,"1,000,000+",Free,0,Teen,Books & Reference,"April 19, 2017",2.7.3,4.0 and up
4811,yHomework - Math Solver,FAMILY,4.2,50771,Varies with device,"1,000,000+",Free,0,Everyone,Education,"May 12, 2016",Varies with device,Varies with device
2758,zulily - Shop Daily Deals in Fashion and Home,SHOPPING,4.5,28560,Varies with device,"1,000,000+",Free,0,Everyone,Shopping,"July 23, 2018",Varies with device,Varies with device

In [172]:
google.loc[:, 'App'] = google.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))

In [154]:
google.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9659 entries, 8884 to 882
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9659 non-null   object
 1   Category        9659 non-null   object
 2   Rating          8196 non-null   float64
 3   Reviews         9659 non-null   object
 4   Size            9659 non-null   object
 5   Installs        9659 non-null   object
 6   Type            9658 non-null   object
 7   Price           9659 non-null   object
 8   Content Rating  9659 non-null   object
 9   Genres          9659 non-null   object
 10  Last Updated    9659 non-null   object
 11  Current Ver     9651 non-null   object
 12  Android Ver     9657 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.0+ MB

# Leia o arquivo actors.csv e faça os seguintes cálculos sobre o conjunto de dados utilizando Pandas

• O ator/atriz com maior número de filmes e o respectivo número de filmes.

• A média do número de filmes.

• O ator/atriz com a maior média por filme.

• O nome do(s) filme(s) mais frequente(s) e sua respectiva frequência.

In [1]:
import pandas as pd

In [2]:
actors = pd.read_csv('../archives/actors.csv', sep=',')

In [3]:
actors

,Actor,Total Gross,Number of Movies,Average per Movie,#1 Movie,Gross
0,Harrison Ford,4871.7,41,118.8,Star Wars: The Force Awakens,936.7
1,Samuel L. Jackson,4772.8,69,69.2,The Avengers,623.4
2,Morgan Freeman,4468.3,61,73.3,The Dark Knight,534.9
3,Tom Hanks,4340.8,44,98.7,Toy Story 3,415.0
4,"Robert Downey, Jr.",3947.3,53,74.5,The Avengers,623.4
5,Eddie Murphy,3810.4,38,100.3,Shrek 2,441.2
6,Tom Cruise,3587.2,36,99.6,War of the Worlds,234.3
7,Johnny Depp,3368.6,45,74.9,Dead Man's Chest,423.3
8,Michael Caine,3351.5,58,57.8,The Dark Knight,534.9
9,Scarlett Johansson,3341.2,37,90.3,The Avengers,623.4
10,Gary Oldman,3294.0,38,86.7,The Dark Knight,534.9
11,Robin Williams,3279.3,49,66.9,Night at the Museum,250.9
12,Bruce Willis,3189.4,60,53.2,Sixth Sense,293.5
13,Stellan Skarsgard,3175.0,43,73.8,The Avengers,623.4
14,Anthony Daniels,3162.9,7,451.8,Star Wars: The Force Awakens,936.7
15,Ian McKellen,3150.4,31,101.6,Return of the King,377.8
16,Will Smith,3149.1,24,131.2,Independence Day,306.2
17,Stanley Tucci,3123.9,50,62.5,Catching Fire,424.7
18,Matt Damon,3107.3,39,79.7,The Martian,228.4
19,Robert DeNiro,3081.3,79,39.0,Meet the Fockers,279.3
20,Cameron Diaz,3031.7,34,89.2,Shrek 2,441.2
21,Liam Neeson,2942.7,63,46.7,The Phantom Menace,474.5
22,Andy Serkis,2890.6,23,125.7,Star Wars: The Force Awakens,936.7
23,Don Cheadle,2885.4,34,84.9,Avengers: Age of Ultron,459.0
24,Ben Stiller,2827.0,37,76.4,Meet the Fockers,279.3
25,Helena Bonham Carter,2822.0,36,78.4,Harry Potter / Deathly Hallows (P2),381.0
26,Orlando Bloom,2815.8,17,165.6,Dead Man's Chest,423.3
27,Woody Harrelson,2815.8,50,56.3,Catching Fire,424.7
28,Cate Blanchett,2802.6,39,71.9,Return of the King,377.8
29,Julia Roberts,2735.3,42,65.1,Ocean's Eleven,183.4
30,Elizabeth Banks,2726.3,35,77.9,Catching Fire,424.7
31,Ralph Fiennes,2715.3,36,75.4,Harry Potter / Deathly Hallows (P2),381.0
32,Emma Watson,2681.9,17,157.8,Harry Potter / Deathly Hallows (P2),381.0
33,Tommy Lee Jones,2681.3,46,58.3,Men in Black,250.7
34,Brad Pitt,2680.9,40,67.0,World War Z,202.4
35,Adam Sandler,2661.0,32,83.2,Hotel Transylvania 2,169.7
36,Daniel Radcliffe,2634.4,17,155.0,Harry Potter / Deathly Hallows (P2),381.0
37,Jonah Hill,2605.1,29,89.8,The LEGO Movie,257.8
38,Owen Wilson,2602.3,39,66.7,Night at the Museum,250.9
39,Idris Elba,2580.6,26,99.3,Avengers: Age of Ultron,459.0
40,Bradley Cooper,2557.7,25,102.3,American Sniper,350.1
41,Mark Wahlberg,2549.8,36,70.8,Transformers 4,245.4
42,Jim Carrey,2545.2,27,94.3,The Grinch,260.0
43,Dustin Hoffman,2522.1,43,58.7,Meet the Fockers,279.3
44,Leonardo DiCaprio,2518.3,25,100.7,Titanic,658.7
45,Jeremy Renner,2500.3,21,119.1,The Avengers,623.4
46,Philip Seymour Hoffman,2463.7,40,61.6,Catching Fire,424.7
47,Sandra Bullock,2462.6,35,70.4,Minions,336.0
48,Chris Evans,2457.8,23,106.9,The Avengers,623.4
49,Anne Hathaway,2416.5,25,96.7,The Dark Knight Rises,448.1


## • O ator/atriz com maior número de filmes e o respectivo número de filmes.

In [4]:
MaisFilmes = actors[actors['Number of Movies'] == max(actors['Number of Movies'])].T
MaisFilmes

                                 19
Actor                 Robert DeNiro
Total Gross                  3081.3
Number of Movies                 79
Average per Movie              39.0
#1 Movie           Meet the Fockers
Gross                         279.3

 
## • A média do número de filmes.

In [5]:
mediaFilmes = actors['Number of Movies'].mean()
mediaFilmes

37.88


## • O ator/atriz com a maior média por filme.

In [6]:
MaiorMediaPorFilme = actors[actors['Average per Movie'] == max(actors['Average per Movie'])].T
MaiorMediaPorFilme

                                             14
Actor                           Anthony Daniels
Total Gross                              3162.9
Number of Movies                              7
Average per Movie                         451.8
#1 Movie           Star Wars: The Force Awakens
Gross                                     936.7


## • O nome do(s) filme(s) mais frequente(s) e sua respectiva frequência.

In [109]:
maxCountFilmes = actors[['#1 Movie']].groupby(['#1 Movie'])['#1 Movie'].count().max()
CountFilmes = actors[['#1 Movie']].groupby(['#1 Movie'])['#1 Movie'].count()
maxFilmes = actors[['#1 Movie']].groupby(['#1 Movie'])[['#1 Movie']].count()[CountFilmes == maxCountFilmes].rename(columns={'#1 Movie':'Count'}).reset_index()
maxFilmes

       #1 Movie  Count
0  The Avengers      6

# Leia o arquivo csv googleplaystore.csv e realize as seguintes atividades sobre o dataset utilizando Pandas:

• Faça um gráfico de barras contendo os top 5 apps por número de instalação.

• Faça um gráfico de pizza (pie chart) mostrando as categorias de apps existentes no dataset
de acordo com a frequência em que elas aparecem.

• Mostre qual o app mais caro existente no dataset.

• Mostre quantos apps são classificados como “Mature 17+”.

• Mostre o top 10 apps por número de reviews bem como o respectivo número de reviews.
Ordene a lista de forma decrescente por número de reviews.

In [72]:
google.query('Category == "1.9"')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [80]:
google[google['Android Ver'].isna()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4453,[substratum] Vacuum: P,PERSONALIZATION,4.4,230,11M,"1,000+",Paid,$1.49,Everyone,Personalization,"July 20, 2018",4.4,NaN
4490,Pi Dark [substratum],PERSONALIZATION,4.5,189,2.1M,"10,000+",Free,0,Everyone,Personalization,"March 27, 2018",1.1,NaN
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [39]:
google['Rating'].drop_duplicates()

0              Everyone
3                  Teen
22         Everyone 10+
129          Mature 17+
298     Adults only 18+
7312            Unrated
Name: Content Rating, dtype: object

In [49]:
google['Reviews'].drop_duplicates()

0           159
1           967
2         87510
3        215644
5           167
          ...
10817       885
10826     88486
10829       603
10832      1195
10840    398307
Name: Reviews, Length: 6002, dtype: object

In [50]:
google['Size'].drop_duplicates()

0          19M
1          14M
2         8.7M
3          25M
4         2.8M
         ...
10763     552k
10764     885k
10798    1020k
10832     582k
10833     619k
Name: Size, Length: 462, dtype: object

In [51]:
google['Installs'].drop_duplicates()

0               10,000+
1              500,000+
2            5,000,000+
3           50,000,000+
4              100,000+
5               50,000+
7            1,000,000+
12          10,000,000+
15               5,000+
139        100,000,000+
152      1,000,000,000+
329              1,000+
342        500,000,000+
478                 50+
479                100+
605                500+
625                 10+
649                  1+
659                  5+
4465                 0+
9148                  0
10472              Free
Name: Installs, dtype: object

In [52]:
google['Type'].drop_duplicates()

0        Free
234      Paid
10472       0
Name: Type, dtype: object

In [54]:
google['Content Rating'].drop_duplicates()

0              Everyone
3                  Teen
22         Everyone 10+
129          Mature 17+
298     Adults only 18+
7312            Unrated
Name: Content Rating, dtype: object

In [55]:
google['Genres'].drop_duplicates()

0                           Art & Design
1              Art & Design;Pretend Play
4                Art & Design;Creativity
23       Art & Design;Action & Adventure
49                       Auto & Vehicles
                      ...
9674                  Strategy;Education
9688                 Racing;Pretend Play
10218           Communication;Creativity
10472                  February 11, 2018
10526                Strategy;Creativity
Name: Genres, Length: 120, dtype: object

In [56]:
google['Last Updated'].drop_duplicates()

0          January 7, 2018
1         January 15, 2018
2           August 1, 2018
3             June 8, 2018
4            June 20, 2018
               ...
10808    November 25, 2014
10818         May 19, 2016
10830     January 20, 2014
10832    February 16, 2014
10833       March 23, 2014
Name: Last Updated, Length: 1378, dtype: object

In [57]:
google['Current Ver'].drop_duplicates()

0                     1.0.0
1                     2.0.0
2                     1.2.4
3        Varies with device
4                       1.1
                ...
10800                  6.04
10803               1.5.447
10817            1.0.612928
10819                 0.3.4
10831             2.0.148.0
Name: Current Ver, Length: 2833, dtype: object

In [58]:
google['Android Ver'].drop_duplicates()

0              4.0.3 and up
3                4.2 and up
4                4.4 and up
5                2.3 and up
8                3.0 and up
10               4.1 and up
11               4.0 and up
37             2.3.3 and up
42       Varies with device
58               2.2 and up
72               5.0 and up
80               6.0 and up
133              1.6 and up
144              1.5 and up
170              2.1 and up
173              7.0 and up
185              5.1 and up
203              4.3 and up
350           4.0.3 - 7.1.1
458              2.0 and up
821              3.2 and up
1024            4.4W and up
1532             7.1 and up
1572            7.0 - 7.1.1
2484             8.0 and up
2841              5.0 - 8.0
2915             3.1 and up
4054           2.0.1 and up
4151            4.1 - 7.1.1
4453                    NaN
7571              5.0 - 6.0
8919             1.0 and up
9310            2.2 - 7.1.1
10094           5.0 - 7.1.1
Name: Android Ver, dtype: object

In [33]:
google[google['Type'].isna()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [32]:
google['Type'].fillna('Free', inplace = True)

In [35]:
google[google['Content Rating'].isna()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [38]:
google['Content Rating'].fillna('Unrated', inplace = True)